{% extends "AppBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="container content traveller-registration">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>{{ 'resetting.email.subject'|trans }}</h1>
                    </div>
                </div>
                {% if invalid_username is defined %}
                    <div class="alert alert-danger" role="alert">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
                {% endif %}
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div class="row profile-bottom">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="inputUserPassword" class="required">{{ 'resetting.login_or_email'|trans({}, 'AppBundle') }}</label>
                                <input type="text" class="form-control" name="username" id="inputUserPassword" required>
                            </div>
                        </div>
                    </div>
                    <div class="row bottom-form">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <button type="submit" class="btn btn-1">{{ 'resetting.request.submit'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 banner-xs">
                {% include 'AppBundle:blocks:banners.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
