{% trans_default_domain 'AppBundle' %}
<div class="row">
    <div class="col-xs-12">
        <h4>{{ 'travel.members'|trans }}:</h4>
    </div>
</div>
<div class="row">
    {% for booking in travel.bookings %}
        <div class="col-xs-12 col-sm-6 col-md-12">
            <div class="spisok">
                <ul class="list-unstyled">
                    {% for traveller in booking.travellers %}
                        <li>
                            <div class="row">
                                {% include 'AppBundle:Traveller:place.html.twig' with { traveller: traveller } %}
                                <div class="col-xs-3 col-sm-3">
                                    <a href="#" data-toggle="modal" data-target="#modal-travellerPlace{{ traveller.id }}">
                                        <img src="{{ traveller.photoPublicUrl }}" alt="{{ traveller.fullName }}">
                                    </a>
                                </div>
                                <div class="col-xs-9 col-sm-9 text-block">
                                    <p><b>{{ traveller.placeNumber }} {{ 'traveller.place'|trans }}</b></p>
                                    <p>{{ ('traveller.gender.' ~ traveller.gender) |trans }}, {{ traveller.age }}</p>
                                    <h4>{{ traveller.fullName }}</h4>
                                    <p>{{ (traveller.oppositeGenderLiving ? ('traveller.opposite_gender_living.' ~ traveller.gender) : ('traveller.opposite_gender_living_not.' ~ traveller.gender))|trans }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <div class="col-xs-12 col-sm-6 col-md-12">{{ 'traveller.be_first'|trans }}</div>
    {% endfor %}
</div>