{% extends 'AppBundle::base.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block content %}
    <div class="container content form-common">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>{{ 'form.travel_crate.title'|trans }}</h1>
                    </div>
                </div>
                <div class="row btn-block">
                    <div class="col-xs-12 col-sm-8">
                        <div class="search-filter">
                            {{ knp_menu_render('skipper_profile_menu', { template: 'AppBundle::searchMenu.html.twig', currentClass: 'active' }) }}
                        </div>
                    </div>
                </div>
                {{ form_start(form, {'method': 'post', 'action': path('create_new_travel'), 'attr': {'role': 'form'}}) }}
                    <div class="deliver"></div>
                    <div class="row profile-top">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_label(form.name) }}
                                {{ form_errors(form.name) }}
                                {{ form_widget(form.name, { attr: {class: 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.participantLevel) }}
                                {{ form_errors(form.participantLevel) }}
                                {{ form_widget(form.participantLevel, { attr: {class: 'form-control'} }) }}
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        {{ form_label(form.children) }}
                                        {{ form_errors(form.children) }}
                                        {{ form_widget(form.children, { attr: {class: 'form-control'} }) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        {{ form_label(form.minChildAge) }}
                                        {{ form_errors(form.minChildAge) }}
                                        {{ form_widget(form.minChildAge, { attr: {class: 'form-control'} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_label(form.type) }}
                                {{ form_errors(form.type) }}
                                {{ form_widget(form.type, { attr: {class: 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="inputPriceWeek">{{ 'travel.form.week_price'|trans }}</label>
                                <div class="row">
                                    <div class="col-xs-6">
                                        {{ form_errors(form.weekPrice) }}
                                        {{ form_widget(form.weekPrice, { attr: {class: 'form-control'} }) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_errors(form.weekPriceCurrency) }}
                                        {{ form_widget(form.weekPriceCurrency, { attr: {class: 'form-control'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPriceWeek">{{ 'travel.form.day_price'|trans }}</label>
                                <div class="row">
                                    <div class="col-xs-6">
                                        {{ form_errors(form.dayPrice) }}
                                        {{ form_widget(form.dayPrice, { attr: {class: 'form-control'} }) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_errors(form.dayPriceCurrency) }}
                                        {{ form_widget(form.dayPriceCurrency, { attr: {class: 'form-control'} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="deliver"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_label(form.hotOffers) }}
                                {{ form_errors(form.hotOffers) }}
                                {{ form_widget(form.hotOffers, { attr: {class: 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        {{ form_label(form.percentOfDiscount) }}
                                        {{ form_errors(form.percentOfDiscount) }}
                                        {{ form_widget(form.percentOfDiscount, { attr: {class: 'form-control', disabled: 'disabled'} }) }}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        {{ form_label(form.timeForDiscountActivation) }}
                                        {{ form_errors(form.timeForDiscountActivation) }}
                                        {{ form_widget(form.timeForDiscountActivation, { attr: {class: 'form-control', disabled: 'disabled'} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="deliver"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label>{{ 'travel.form.min_places_for_travel'|trans|raw }} <span>*</span></label>
                                {{ form_errors(form.minPlacesForTravel) }}
                                {{ form_widget(form.minPlacesForTravel, { attr: {class: 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.dateStart) }}
                                {{ form_errors(form.dateStart) }}
                                <div class="input-group">
                                    {{ form_widget(form.dateStart, { attr: {class: 'form-control datepicker', 'aria-describedby': 'addonDateIcon'} }) }}
                                    <span class="input-group-addon" id="addonDateIcon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.dateEnd) }}
                                {{ form_errors(form.dateEnd) }}
                                <div class="input-group">
                                    {{ form_widget(form.dateEnd, { attr: {class: 'form-control datepicker', 'aria-describedby': 'addonDateIcon'} }) }}
                                    <span class="input-group-addon" id="addonDateIcon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <br>
                                {{ form_label(form.skipperConfirmation) }}
                                {{ form_errors(form.skipperConfirmation) }}
                                {{ form_widget(form.skipperConfirmation, { attr: {class: 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.country) }}
                                {{ form_errors(form.country) }}
                                {{ form_widget(form.country, { attr: {class: 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.aquatory) }}
                                {{ form_errors(form.aquatory) }}
                                {{ form_widget(form.aquatory, { attr: {class: 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                        </div>
                        <div class="col-xs-12 col-sm-6">
                        </div>
                    </div>
                    <div class="deliver"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p><b>{{ 'travel.form.yacht.info'|trans }}</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        {{ form_label(form.yacht.children.shipType) }}
                                        {{ form_errors(form.yacht.children.shipType) }}
                                        {{ form_widget(form.yacht.children.shipType, { attr: {class: 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        {{ form_label(form.yacht.children.yachtType) }}
                                        {{ form_errors(form.yacht.children.yachtType) }}
                                        {{ form_widget(form.yacht.children.yachtType, { attr: {class: 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        {{ form_label(form.yacht.children.manufacturer) }}
                                        {{ form_errors(form.yacht.children.manufacturer) }}
                                        {{ form_widget(form.yacht.children.manufacturer, { attr: {class: 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        {{ form_label(form.yacht.children.yearOfProduction) }}
                                        {{ form_errors(form.yacht.children.yearOfProduction) }}
                                        {{ form_widget(form.yacht.children.yearOfProduction, { attr: {class: 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ 'travel.form.yacht.yacht_length'|trans }} <span>*</span></label>
                                        <div class="input-group">
                                            {{ form_errors(form.yacht.children.yachtLengthFt) }}
                                            {{ form_widget(form.yacht.children.yachtLengthFt, { attr: {class: 'form-control', id: 'inputLengthBoatsFT', 'aria-describedby': 'addonLengthBoatsFT'}}) }}
                                            <span class="input-group-addon addon2" id="addonLengthBoatsFT">FT</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <div class="input-group">
                                            {{ form_errors(form.yacht.children.yachtLengthM) }}
                                            {{ form_widget(form.yacht.children.yachtLengthM, { attr: {class: 'form-control', id: 'inputLengthBoatsM', 'aria-describedby': 'addonLengthBoatsM'}}) }}
                                            <span class="input-group-addon addon2" id="addonLengthBoatsM">M</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_label(form.yacht.children.bathroomsNumber) }}
                                {{ form_errors(form.yacht.children.bathroomsNumber) }}
                                {{ form_widget(form.yacht.children.bathroomsNumber, { attr: {class: 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_label(form.yacht.children.doubleCabinsNumber) }}
                                {{ form_errors(form.yacht.children.doubleCabinsNumber) }}
                                {{ form_widget(form.yacht.children.doubleCabinsNumber, { attr: {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_label(form.yacht.children.singleCabinsNumber) }}
                                {{ form_errors(form.yacht.children.singleCabinsNumber) }}
                                {{ form_widget(form.yacht.children.singleCabinsNumber, { attr: {class: 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_label(form.yacht.children.description) }}
                                {{ form_errors(form.yacht.children.description) }}
                                {{ form_widget(form.yacht.children.description, { attr: {class: 'form-control', rows: 7}}) }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                {{ form_label(form.yacht.children.features) }}
                                {{ form_errors(form.yacht.children.features) }}
                                {{ form_widget(form.yacht.children.features, { attr: {class: 'form-control', rows: 7}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="deliver"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p><b>{{ 'travel.form.yacht.choose_schema_image'|trans }}</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="/images/yachts/yacht.jpg" alt="Яхта..." class="img-responsive yachta-foto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-5">
                            <div class="form-group">
                                <label for="inputSelectYacht">Выберете яхту</label>
                                <select name="inputSelectYacht" id="inputSelectYacht" class="form-control">
                                    <option value="yacht1">Яхта такая то</option>
                                    <option value="yacht2">Яхта сякая то</option>
                                    <option value="yacht3">Яхта не такая, не сякая</option>
                                    <option value="yacht4">Яхта такая, сякая</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <a href="#" class="btn btn-3 btn-middle">Выбрать</a>
                        </div>
                        <div class="col-xs-12 col-sm-4 text-right">
                            <a href="#" class="btn btn-4 btn-middle">Загрузить схему яхты</a>
                        </div>
                    </div>
                    <div class="deliver"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="inputMethodPayment">Способ оплаты услуг Капитана</label>
                                <select name="inputMethodPayment" id="inputMethodPayment" class="form-control">
                                    <option value="yacht1">Оплата через сайт</option>
                                    <option value="yacht2">Оплата наличными капитану</option>
                                    <option value="yacht3">Другой способ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="inputSitePercent">Процент коммисии сайта</label>
                                <select name="inputSitePercent" id="inputSitePercent" class="form-control">
                                    <?for($i=0; $i <= 30; $i += 5):?>
                                    <option value="<?=$i?>"><?=$i?>%</option>
                                    <?endfor;?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="inputArrival">Место прилета (аэропорт) <span>*</span></label>
                                <input type="text" class="form-control" name="inputArrival" id="inputArrival">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="inputDeparture">Место вылета (аэропорт) <span>*</span></label>
                                <input type="text" class="form-control" name="inputDeparture" id="inputDeparture">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="inputTransfer">Трансфер от аэропорта до места отплытия:</label>
                                <select name="inputTransfer" id="inputTransfer" class="form-control">
                                    <option value="group">Групповой</option>
                                    <option value="individual">Индивидуальный</option>
                                    <option value="none">Нет трансфера</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="inputPriceWeek">Стоимость</label>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" name="inputPriceTransfer" id="inputPriceTransfer">
                                    </div>
                                    <div class="col-xs-6">
                                        <select name="inputCurrencyPriceTransfer" id="inputCurrencyPriceTransfer" class="form-control">
                                            <option value="EURO">EURO</option>
                                            <option value="DOLLAR">DOLLAR</option>
                                            <option value="RUBLE">РУБЛЬ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="textareaAddressCollection">Адрес места сбора команды</label>
                                <textarea class="form-control" rows="5" name="textareaAddressCollection" id="textareaAddressCollection"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label>Географические координаты <span>*</span></label>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="input-group left-addon">
                                            <span class="input-group-addon addon2" id="addonCoordinateN">N</span>
                                            <input type="text" class="form-control" name="inputCoordinateN" id="inputCoordinateN" aria-describedby="addonCoordinateN">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="input-group left-addon">
                                            <span class="input-group-addon addon2" id="addonCoordinateE">E</span>
                                            <input type="text" class="form-control" name="inputCoordinateE" id="inputCoordinateE" aria-describedby="addonCoordinateE">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Время сбора команды <span>*</span></label>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" name="inputTimeHour" id="inputTimeHour" aria-describedby="addonCoordinateN">
                                        <div class="points">:</div>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" name="inputTimeMinute" id="inputTimeMinute" aria-describedby="addonCoordinateE">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="textareaListIncluded">Перечень того, что входит в стоимость путешествия <span>*</span></label>
                                <textarea class="form-control" rows="7" name="textareaListIncluded" id="textareaListIncluded"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="textareaListNotIncluded">Перечень того, что не входит в стоимость путешествия <span>*</span></label>
                                <textarea class="form-control" rows="7" name="textareaListNotIncluded" id="textareaListNotIncluded"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="deliver"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p><b>Фотографии путешествий</b></p>
                            <p>Основное фото</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 main-foto-block">
                            <img src="/images/travels/foto1.jpg" alt="Основное фото" class="img-responsive main-foto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Дополнительное фото</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <img src="/images/travels/foto2.jpg" alt="Дополнительное фото" class="img-responsive addinitional-foto">
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <img src="/images/travels/foto3.jpg" alt="Дополнительное фото" class="img-responsive addinitional-foto">
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <img src="/images/travels/foto2.jpg" alt="Дополнительное фото" class="img-responsive addinitional-foto">
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <img src="/images/travels/foto3.jpg" alt="Дополнительное фото" class="img-responsive addinitional-foto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p>Не более 10 фотографий. Формат jpeg. Размер не более 4 мб <span class="red">*</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <a href="#" class="btn btn-4 btn-long">Загрузить фото</a>
                        </div>
                    </div>
                    <div class="deliver"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p><b>Описание путешествия по дням</b></p>
                        </div>
                    </div>
                    <div class="one-day">
                        <div class="row">
                            <div class="col-xs-12">
                                <p><b>День 1</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inputCityDeparture1">Город отправления <span>*</span></label>
                                    <input type="text" class="form-control" name="inputCityDeparture1" id="inputCityDeparture1">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label>Географические координаты <span>*</span></label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="input-group left-addon">
                                                <span class="input-group-addon addon2" id="addonCityDepartureN1">N</span>
                                                <input type="text" class="form-control" name="inputCityDepartureN1" id="inputCityDepartureN1" aria-describedby="addonCityDepartureN1">
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="input-group left-addon">
                                                <span class="input-group-addon addon2" id="addonCityDepartureE1">E</span>
                                                <input type="text" class="form-control" name="inputCityDepartureE1" id="inputCityDepartureE1" aria-describedby="addonCityDepartureE1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inputCityArrival1">Город прибытия <span>*</span></label>
                                    <input type="text" class="form-control" name="inputCityArrival1" id="inputCityArrival1">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label>Географические координаты <span>*</span></label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="input-group left-addon">
                                                <span class="input-group-addon addon2" id="addonCityArrivalN1">N</span>
                                                <input type="text" class="form-control" name="inputCityArrivalN1" id="inputCityArrivalN1" aria-describedby="addonCityArrivalN1">
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="input-group left-addon">
                                                <span class="input-group-addon addon2" id="addonCityArrivalE1">E</span>
                                                <input type="text" class="form-control" name="inputCityArrivalE1" id="inputCityArrivalE1" aria-describedby="addonCityArrivalE1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inputLength1">Протяженность маршрута <span>*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="inputLength1" id="inputLength1" aria-describedby="addonLength1">
                                        <span class="input-group-addon addon2" id="addonLength1">Миль</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <a href="#" class="btn btn-3 btn-middle margin-left0">Добавить точку</a>
                            </div>
                        </div>
                        <div class="row mt20">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="textareaDetailed1">Подробное описание</label>
                                    <textarea class="form-control" rows="7" name="textareaDetailed1" id="textareaDetailed1"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="deliver"></div>
                    <div class="one-day">
                        <div class="row">
                            <div class="col-xs-12">
                                <p><b>День 2</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inputCityDeparture2">Город отправления <span>*</span></label>
                                    <input type="text" class="form-control" name="inputCityDeparture2" id="inputCityDeparture2">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label>Географические координаты <span>*</span></label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="input-group left-addon">
                                                <span class="input-group-addon addon2" id="addonCityDepartureN2">N</span>
                                                <input type="text" class="form-control" name="inputCityDepartureN2" id="inputCityDepartureN2" aria-describedby="addonCityDepartureN2">
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="input-group left-addon">
                                                <span class="input-group-addon addon2" id="addonCityDepartureE2">E</span>
                                                <input type="text" class="form-control" name="inputCityDepartureE2" id="inputCityDepartureE2" aria-describedby="addonCityDepartureE2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inputCityArrival2">Город прибытия <span>*</span></label>
                                    <input type="text" class="form-control" name="inputCityArrival2" id="inputCityArrival2">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label>Географические координаты <span>*</span></label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="input-group left-addon">
                                                <span class="input-group-addon addon2" id="addonCityArrivalN2">N</span>
                                                <input type="text" class="form-control" name="inputCityArrivalN2" id="inputCityArrivalN2" aria-describedby="addonCityArrivalN2">
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="input-group left-addon">
                                                <span class="input-group-addon addon2" id="addonCityArrivalE2">E</span>
                                                <input type="text" class="form-control" name="inputCityArrivalE2" id="inputCityArrivalE2" aria-describedby="addonCityArrivalE2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inputLength2">Протяженность маршрута <span>*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="inputLength2" id="inputLength2" aria-describedby="addonLength2">
                                        <span class="input-group-addon addon2" id="addonLength2">Миль</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <a href="#" class="btn btn-3 btn-middle margin-left0">Добавить точку</a>
                            </div>
                        </div>
                        <div class="row mt20">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="textareaDetailed2">Подробное описание</label>
                                    <textarea class="form-control" rows="7" name="textareaDetailed2" id="textareaDetailed2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row bottom-form">
                        <div class="col-xs-12 text-center">
                            <p>Поля, отмеченные <span>*</span>, обязательны к заполнению</p>
                        </div>
                    </div>
                    <div class="row button-block">
                        <div class="col-xs-12 col-sm-6 text-right">
                            <button type="submit" class="btn btn-5">Вернуться к списку без сохранения</button>
                        </div>
                        <div class="col-xs-12 col-sm-6 text-left">
                            <button type="submit" class="btn btn-4">Сохранить путешествие</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 banner-xs">
                {% include 'AppBundle:blocks:banners.html.twig' %}
            </div>
        </div>
    </div>
s{% endblock %}
