<div class="carousel-padding">
    <div id="{{ targetId }}" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for photo in photos %}
                <li data-target="#{{ targetId }}" data-slide-to="{{ loop.index - 1 }}" class="{{ loop.index == 1 ? 'active' : '' }}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for photo in photos %}
                <div class="item {{ loop.index == 1 ? 'active' : '' }}">
                    <img src="{% path photo, 'reference' %}" alt="image {{ loop.index }}" class="img-responsive">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
