{% extends 'AppBundle::base.html.twig' %}
{% trans_default_domain "AppBundle" %}

{% block content -%}
    <div class="container content yachta">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>{{ travel.name }}</h1>
                    </div>
                </div>
                <div class="row btn-block">
                    <div class="col-xs-12">
                        <div class="search-filter">
                            <button class="btn btn-9 active">{{ 'travel.menu.overview'|trans }}</button><br class="visible-xs">
                            <button class="btn btn-9">{{ 'travel.menu.booking'|trans }}</button><br class="visible-xs">
                            <button  class="btn btn-9">{{ 'travel.menu.payment'|trans }}</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% include 'AppBundle:Travel:showCarousel.html.twig' with { photos: travel.photos, targetId: 'carousel2' } %}
                    </div>
                </div>
                <div class="row">
                    {% include 'AppBundle:Travel:_info.html.twig' %}
                </div>
                <div class="choice-place">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>{{ 'travel.choose_places'|trans|raw }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        {% include 'AppBundle:Travel:_bookingForm.html.twig' with { bookingButton: true } %}
                        <div class="col-xs-12 col-md-5">
                            {% include 'AppBundle:Travel:_travelMembers.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="important-info">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>{{ 'travel.important_info'|trans|raw }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="important-info-text">
                                <p class="h4">{{ 'travel.included'|trans }}</p>
                                <p>{{ travel.included }}</p>
                            </div>
                            <div class="important-info-text">
                                <p class="h4">{{ 'travel.excluded'|trans }}</p>
                                <p>{{ travel.excluded }}</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-offset-2 col-md-4">
                            <div>
                                <p>{{ 'travel.team_gathering_address'|trans }}:</p>
                                <p class="h4">{{ travel.teamGatheringAddress }}</p>
                            </div>
                            <div class="deliver-small">
                                <p>{{ 'travel.team_gathering_time'|trans }}:</p>
                                <p class="h4">{{ travel.teamGatheringTime|date('H:i') }}</p>
                            </div>
                            <div class="deliver-small">
                                <p>{{ 'travel.nearest_airpot'|trans }}:</p>
                                <p class="h4">{{ travel.placeOfArrival }}</p>
                            </div>
                            <div class="deliver-small">
                                <p>{{ 'travel.transfer_from_airport'|trans }}:</p>
                                <p class="h4">
                                    Группа, {{ travel.transferPrice }} {{ travel.transferPriceCurrency }}/{{ 'travel.place'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="short-description">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>{{ 'yacht.short_description'|trans }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-7">
                            {% include 'AppBundle:Travel:showCarousel.html.twig' with { photos: travel.photos, targetId: 'carousel3' } %}
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-4">
                            <div>
                                <p>{{ 'yacht.ship_type_label'|trans }}:</p>
                                <p class="h4">{{ ('yacht.ship_type.' ~ travel.yacht.shipType)|trans }}</p>
                            </div>
                            <div class="deliver-small">
                                <p>{{ 'yacht.yacht_type_label'|trans }}:</p>
                                <p class="h4">{{ ('yacht.yacht_type.' ~ travel.yacht.yachtType)|trans }}</p>
                            </div>
                            <div class="deliver-small">
                                <p>{{ 'yacht.manufacturer'|trans }} / {{ 'yacht.year_of_producation'|trans }}:</p>
                                <p class="h4">{{ ('travel.form.yacht.manufacturer.' ~ travel.yacht.manufacturer)|trans }} / {{ travel.yacht.yearOfProduction }} {{ 'yacht.year'|trans }}</p>
                            </div>
                            <div class="deliver-small">
                                <p>{{ 'yacht.length'|trans }}:</p>
                                <p class="h4">{{ travel.yacht.yachtLengthFt }} ft ({{ travel.yacht.yachtLengthM }} м)</p>
                            </div>
                            <div class="deliver-small">
                                <p>{{ 'yacht.places'|trans }} / {{ 'yacht.cabins'|trans }}:</p>
                                {# todo: ask about 8/4 #}
                                <p class="h4">8 / 4</p>
                            </div>
                            <div class="deliver-small">
                                <p>{{ 'yacht.bathroom'|trans }}:</p>
                                <p class="h4">{{ travel.yacht.bathroomsNumber }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row features">
                        <div class="col-xs-12">
                            <h4>{{ 'yacht.features'|trans }}:</h4>
                            <div class="column2">
                                <p>{{ travel.yacht.description }}</p>
                                <p>{{ travel.yacht.features }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row button-block">
                    <div class="col-xs-12">
                        {% include 'AppBundle:Travel:tabs.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 banner-xs">
                {% include 'AppBundle:blocks:banners-bottom.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
