{% extends 'AppBundle::base.html.twig' %}
{% trans_default_domain "AppBundle" %}

{% block content -%}
    {% include 'AppBundle::breadcrumbs.html.twig' %}
    <div class="container content yachta">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>{{ travel.name }}</h1>
                    </div>
                </div>
                <div class="row btn-block">
                    <div class="col-xs-12">
                        <div class="search-filter">
                            <button class="btn btn-9 active">1. Обзор путешествия</button><br class="visible-xs">
                            <button class="btn btn-9">2. Бронирование мест</button><br class="visible-xs">
                            <button  class="btn btn-9">3. Оплата</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% include 'AppBundle:Travel:showCarousel.html.twig' with { photos: travel.photos, targetId: 'carousel2' } %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 hidden-sm col-md-3">
                        <div class="deliver-small">
                            <p>{{ 'travel.date'|trans }}:</p>
                            <p class="h4">{{ travel.detailDates }}</p>
                        </div>
                        <div class="deliver-small">
                            <p>{{ 'travel.country'|trans }}:</p>
                            <p class="h4">{{ travel.country }}</p>
                        </div>
                        <div class="deliver-small">
                            <p>{{ 'travel.aquatory'|trans }}:</p>
                            <p class="h4">{{ travel.aquatory }}</p>
                        </div>
                        <div class="deliver-small">
                            <p>{{ 'travel.type_label'|trans }}:</p>
                            {% set type = 'travel.type.' ~ travel.type %}
                            <p class="h4">{{ type|trans }}</p>
                        </div>
                    </div>
                    <div class="col-xs-12 hidden-sm col-md-3">
                        <div class="deliver-small">
                            <p>{{ 'travel.skipper_rating'|trans }}:</p>
                            <p class="h4">5</p>
                        </div>
                        <div class="deliver-small">
                            <p>{{ 'travel.dayPrice'|trans }}:</p>
                            <p class="h4">{{ travel.dayPrice }} {{ travel.dayPriceCurrency }}</p>
                        </div>
                        <div class="deliver-small">
                            <p>{{ 'travel.price_for_all'|trans }}:</p>
                            <p class="h4">{{ travel.dayPrice * 10 }}</p>
                        </div>
                    </div>
                    <div class="col-sm-4 visible-sm">
                        <div class="deliver-small">
                            <p>{{ 'travel.date'|trans }}:</p>
                            <p class="h4">{{ travel.detailDates }}</p>
                        </div>
                        <div class="deliver-small">
                            <p>{{ 'travel.country'|trans }}:</p>
                            <p class="h4">{{ travel.country }}</p>
                        </div>
                        <div class="deliver-small">
                            <p>{{ 'travel.aquatory'|trans }}:</p>
                            <p class="h4">{{ travel.aquatory }}</p>
                        </div>
                    </div>
                    <div class="col-sm-4 visible-sm">
                        <div class="deliver-small">
                            <p>{{ 'travel.type_label'|trans }}:</p>
                            <p class="h4">{{ type|trans }}</p>
                        </div>
                        <div class="deliver-small">
                            <p>{{ 'travel.skipper_rating'|trans }}:</p>
                            <p class="h4">5</p>
                        </div>
                    </div>
                    <div class="col-sm-4 visible-sm">
                        <div class="deliver-small">
                            <p>{{ 'travel.dayPrice'|trans }}:</p>
                            <p class="h4">{{ travel.dayPrice }} {{ travel.dayPriceCurrency }}</p>
                        </div>
                        <div class="deliver-small">
                            <p>{{ 'travel.price_for_all'|trans }}:</p>
                            <p class="h4">{{ travel.dayPrice * 10 }}</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 table-block">
                        <div class="deliver hidden-md hidden-lg"></div>
                        {% for day in travel.days %}
                            {% include 'AppBundle:Travel:day.html.twig' with { 'day': day } %}
                        {% endfor %}
                        <h4>{{ 'travel.schedule'|trans }}</h4>
                        <table class="table table-striped">
                            <tbody>
                            {% for day in travel.days %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ day.date|date('d M') }}</td>
                                    <td>{{ day.cityArrival }} - {{ day.cityDeparture }}</td>
                                    <td>{{ day.routeLength }} {{ 'day.miles'|trans }}</td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#modal-info{{ day.id }}">
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ 'day.days_not_fount'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <a href="#" class="btn btn-5">{{ 'travel.share_with_friend'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="choice-place">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>{{ 'travel.choose_places'|trans|raw }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-7 yachta-block">
                            <ul class="list-unstyled list-inline">
                                <li><div class="round-green"></div> Свободно мест: <b>3</b></li>
                                <li><div class="round-red"></div> Занято мест: <b>5</b></li>
                            </ul>
                            <img src="{{ asset('images/yachts/yacht2.jpg') }}" alt="Яхта" class="img-responsive">
                            <div class="row">
                                <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-5 text-center">
                                    <p>Вами выбрано: <span class="h4">3 места</span></p>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 text-center">
                                    <p>Общая сумма: <span class="h4">960 Euro</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-10 text-center">
                                    <button  class="btn btn-1">Забронировать</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4>Участники путешествия:</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-12">
                                    <div class="spisok">
                                        <ul class="list-unstyled">
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-3 col-sm-3">
                                                        <a href="#" data-toggle="modal" data-target="#modal-thirdPlace">
                                                            <img src="{{ asset('images/foto/foto1.jpg') }}" alt="Александр Сергеевич">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9 text-block">
                                                        <p><b>1 место</b></p>
                                                        <p>Мужчина, 32 года</p>
                                                        <h4>Александр Сергеевич</h4>
                                                        <p>Согласен жить с противоположным полом</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-3 col-sm-3">
                                                        <a href="#" data-toggle="modal" data-target="#modal-thirdPlace">
                                                            <img src="{{ asset('images/foto/foto2.jpg') }}" alt="Александр Сергеевич">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9 text-block">
                                                        <p><b>1 место</b></p>
                                                        <p>Мужчина, 32 года</p>
                                                        <h4>Григорий Семенович</h4>
                                                        <p>Согласен жить с противоположным полом</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-3 col-sm-3">
                                                        <a href="#" data-toggle="modal" data-target="#modal-thirdPlace">
                                                            <img src="{{ asset('images/foto/foto3.jpg') }}" alt="Александр Сергеевич">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9 text-block">
                                                        <p><b>1 место</b></p>
                                                        <p>Женщина, 32 года</p>
                                                        <h4>Наталья Семеновна</h4>
                                                        <p>Согласна жить с противоположным полом</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12">
                                    <div class="spisok">
                                        <ul class="list-unstyled">
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-3 col-sm-3">
                                                        <a href="#" data-toggle="modal" data-target="#modal-thirdPlace">
                                                            <img src="{{ asset('images/foto/foto1.jpg') }}" alt="Александр Сергеевич">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9 text-block">
                                                        <p><b>1 место</b></p>
                                                        <p>Мужчина, 32 года</p>
                                                        <h4>Александр Сергеевич</h4>
                                                        <p>Согласен жить с противоположным полом</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-3 col-sm-3">
                                                        <a href="#" data-toggle="modal" data-target="#modal-thirdPlace">
                                                            <img src="{{ asset('images/foto/foto2.jpg') }}" alt="Александр Сергеевич">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-9 col-sm-9 text-block">
                                                        <p><b>1 место</b></p>
                                                        <p>Мужчина, 32 года</p>
                                                        <h4>Григорий Семенович</h4>
                                                        <p>Согласен жить с противоположным полом</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="important-info">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>{{ 'travel.important_info'|trans|raw }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="important-info-text">
                                <p class="h4">{{ 'travel.included'|trans }}</p>
                                <p>{{ travel.included }}</p>
                            </div>
                            <div class="important-info-text">
                                <p class="h4">{{ 'travel.excluded'|trans }}</p>
                                <p>{{ travel.excluded }}</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-offset-2 col-md-4">
                            <div>
                                <p>{{ 'travel.team_gathering_address'|trans }}:</p>
                                <p class="h4">{{ travel.teamGatheringAddress }}</p>
                            </div>
                            <div class="deliver-small">
                                <p>{{ 'travel.team_gathering_time'|trans }}:</p>
                                <p class="h4">{{ travel.teamGatheringTime|date('H:i') }}</p>
                            </div>
                            <div class="deliver-small">
                                <p>{{ 'travel.nearest_airpot'|trans }}:</p>
                                <p class="h4">{{ travel.placeOfArrival }}</p>
                            </div>
                            <div class="deliver-small">
                                <p>{{ 'travel.transfer_from_airport'|trans }}:</p>
                                <p class="h4">
                                    Группа, {{ travel.transferPrice }} {{ travel.transferPriceCurrency }}/{{ 'travel.place'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="short-description">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>{{ 'yacht.short_description'|trans }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-7">
                            {% include 'AppBundle:Travel:showCarousel.html.twig' with { photos: travel.photos, targetId: 'carousel3' } %}
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-4">
                            <div>
                                <p>Тип судна:</p>
                                <p class="h4">Катамаран</p>
                            </div>
                            <div class="deliver-small">
                                <p>Тип яхты:</p>
                                <p class="h4">Парус + Мотор</p>
                            </div>
                            <div class="deliver-small">
                                <p>Производитель / Год:</p>
                                <p class="h4">Bavaria Yachts / 2013год</p>
                            </div>
                            <div class="deliver-small">
                                <p>Длина яхты:</p>
                                <p class="h4">44 ft (13.4 м)</p>
                            </div>
                            <div class="deliver-small">
                                <p>Мест / Кают:</p>
                                <p class="h4">8 / 4</p>
                            </div>
                            <div class="deliver-small">
                                <p>Санузел (гальюн + душ):</p>
                                <p class="h4">2</p>
                            </div>
                        </div>
                    </div>
                    <div class="row features">
                        <div class="col-xs-12">
                            <h4>Особенности:</h4>
                            <div class="column2">
                                <p>
                                    Аренда катамарана в Черногории позволит вам свободно перемещаться по всей акватории,
                                    обойти все острова и заливы, насладиться уединенными гаванями и пляжами, а также
                                    получить удовольствие от морских развлечений, как рыбалка, снорклинг и др. – все это
                                    включено в круизную программу. Наша база находится в трех километрах от международного
                                    аэропорта Тиват (марина MarinaSolila) и оснащена всем необходимым для обслуживания яхт.
                                </p>
                                <p>
                                    Аренда катамарана в Черногории позволит вам свободно перемещаться по всей акватории,
                                    обойти все острова и заливы, насладиться уединенными гаванями и пляжами, а также
                                    получить удовольствие от морских развлечений, как рыбалка, снорклинг и др. – все это
                                    включено в круизную программу. Наша база находится в трех километрах от международного
                                    аэропорта Тиват (марина MarinaSolila) и оснащена всем необходимым для обслуживания яхт.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row button-block">
                    <div class="col-xs-12">
                        <?require_once $_SERVER['DOCUMENT_ROOT']."/include/tabs.php";?>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 banner-xs">
                <?require_once $_SERVER['DOCUMENT_ROOT']."/include/banners-bottom.php";?>
            </div>
        </div>
    </div>
{% endblock %}
