{% trans_default_domain "AppBundle" %}
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tab1" role="tab" data-toggle="tab">{{ 'travel.tabs.travel_map'|trans }}</a></li>
    <div class="clearfix visible-xs"></div>
    <li><a href="#tab2" role="tab" data-toggle="tab">{{ 'travel.tabs.reviews'|trans }}</a></li>
    <div class="clearfix visible-xs"></div>
    <li><a href="#tab3" role="tab" data-toggle="tab">{{ 'travel.tabs.features'|trans }}</a></li>
</ul>
<div class="tab-content">
    <div class="active tab-pane fade in" id="tab1">
        {% include 'AppBundle:Travel:googleMaps.html.twig' %}
    </div>
    <div class="tab-pane fade" id="tab2">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="left">
                    <img src="{{ asset('images/foto1.png') }}" alt="Александр Сергеевич" class="img-circle">
                </div>
                <div class="right">
                    <p class="date">4 июля 2015</p>
                    <h4>Александр Сергеевич</h4>
                    <p>Оценка: <strong>5 баллов</strong></p>
                </div>
                <div class="clearfix"></div>
                <p>
                    Аренда катамарана в Черногории позволит вам свободно перемещаться по всей акватории, обойти все
                    острова и заливы, насладиться уединенными гаванями и пляжами, а также получить удовольствие от
                    морских развлечений, как рыбалка, снорклинг и др. – все это включено в круизную программу. Наша
                    база находится в трех километрах от международного аэропорта Тиват (марина MarinaSolila) и
                    оснащена всем необходимым для обслуживания яхт. Аренда катамарана в Черногории позволит вам
                    свободно перемещаться по всей акватории.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="left">
                    <img src="{{ asset('images/foto2.png') }}" alt="Наталья Семеновна" class="img-circle">
                </div>
                <div class="right">
                    <p class="date">4 июля 2015</p>
                    <h4>Наталья Семеновна</h4>
                    <p>Оценка: <strong>5 баллов</strong></p>
                </div>
                <div class="clearfix"></div>
                <p>
                    Все острова и заливы, насладиться уединенными гаванями и пляжами, а также получить удовольствие
                    от морских развлечений, как рыбалка, снорклинг и др. – все это включено в круизную программу.
                    Наша база находится в трех километрах от международного аэропорта Тиват (марина MarinaSolila) и
                    оснащена всем необходимым для обслуживания яхт. Аренда катамарана в Черногории позволит вам
                    свободно перемещаться по всей акватории.
                </p>
            </div>
            <div class="col-xs-12 hidden-sm col-md-4 col-lg-4">
                <div class="left">
                    <img src="{{ asset('images/foto3.png') }}" alt="Григорий Семенович" class="img-circle">
                </div>
                <div class="right">
                    <p class="date">4 июля 2015</p>
                    <h4>Григорий Семенович</h4>
                    <p>Оценка: <strong>5 баллов</strong></p>
                </div>
                <div class="clearfix"></div>
                <p>
                    Наша база находится в трех километрах от международного аэропорта Тиват (марина MarinaSolila) и
                    оснащена всем необходимым для обслуживания яхт. Аренда катамарана в Черногории позволит вам
                    свободно перемещаться по всей акватории. Аренда катамарана в Черногории позволит вам свободно
                    перемещаться по всей акватории, обойти все острова и заливы, насладиться уединенными гаванями и
                    пляжами, а также получить удовольствие от морских развлечений.
                </p>
            </div>
        </div>
        <ul class="pagination2 visible-sm visible-xs text-center list-unstyled list-inline">
            <li><a href="#"></a></li>
            <li class="active"><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
    <div class="tab-pane fade" id="tab3">
        <h4>{{ 'yacht.features'|trans }}</h4>
        <div class="column2">
            <p>{{ travel.yacht.features }}</p>
        </div>
    </div>
</div>