{% trans_default_domain 'AppBundle' %}

{{ form_widget(form.travellers.vars.prototype.gender) }}
{{ form_widget(form.travellers.vars.prototype.initiator) }}
{{ form_widget(form.travellers.vars.prototype.livingWithParents) }}
{{ form_widget(form.travellers.vars.prototype.oppositeGenderLiving) }}
{{ form_widget(form.travellers.vars.prototype.type) }}

<div class="col-xs-12 visible-xs text-center">
    <h4>{{ 'traveller.title'|trans }} __name__</h4>
</div>
<div class="col-xs-12 col-sm-4 col-md-3 text-center foto fileinput">
    {{ form_widget(form.travellers.vars.prototype.photo, { attr: {class: 'file-loading', multiple: 'false'} }) }}
</div>
<div class="col-xs-12 col-sm-4 col-md-3">
    <h4 class="hidden-xs">{{ 'traveller.title'|trans }} __name__</h4>
    <div class="form-group">
        {{ form_label(form.travellers.vars.prototype.fullName) }}
        {{ form_errors(form.travellers.vars.prototype.fullName) }}
        {{ form_widget(form.travellers.vars.prototype.fullName, { attr: {class: 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.travellers.vars.prototype.email) }}
        {{ form_errors(form.travellers.vars.prototype.email) }}
        {{ form_widget(form.travellers.vars.prototype.email, { attr: {class: 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.travellers.vars.prototype.phone) }}
        {{ form_errors(form.travellers.vars.prototype.phone) }}
        {{ form_widget(form.travellers.vars.prototype.phone, { attr: {class: 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.travellers.vars.prototype.age) }}
        {{ form_errors(form.travellers.vars.prototype.age) }}
        {{ form_widget(form.travellers.vars.prototype.age, { attr: {class: 'form-control'} }) }}
    </div>

    <div class="btn-group buttons-gender" data-toggle="buttons">
        <label><br class="visible-sm">{{ 'form.gender'|trans }}</label><br>
        <label class="btn btn-9 active radio-item" data-radio-hidden-id="{{ form.travellers.vars.prototype.gender.vars.id }}" data-radio-value="{{ constant('AppBundle\\Entity\\Traveller::GENDER_M') }}">
            {{ 'form.gender_choices.m'|trans }}
        </label>
        <label class="btn btn-9 radio-item" data-radio-hidden-id="{{ form.travellers.vars.prototype.gender.vars.id }}" data-radio-value="{{ constant('AppBundle\\Entity\\Traveller::GENDER_W') }}">
            {{ 'form.gender_choices.w'|trans }}
        </label>
    </div>
</div>
<div class="col-xs-12 col-sm-4 col-md-3">
    <h4 class="hidden-xs">&nbsp;</h4>
    <div class="btn-group buttons-gender" data-toggle="buttons">
        <label>{{ 'traveller.travel_initiator'|trans }}</label><br>
        <label class="btn btn-9 radio-item active" data-radio-hidden-id="{{ form.travellers.vars.prototype.initiator.vars.id }}" data-radio-value="1">
            {{ 'form.yes'|trans }}
        </label>
        <label class="btn btn-9 radio-item" data-radio-hidden-id="{{ form.travellers.vars.prototype.initiator.vars.id }}" data-radio-value="0">
            {{ 'form.no'|trans }}
        </label>
    </div>

    <div class="form-group">
        <label for="inputLogin1">{{ 'modal.profile.login'|trans }} <span>*</span></label>
        <input type="text" class="form-control" name="inputLogin1" id="inputLogin1" disabled>
    </div>
    <div class="form-group">
        <label for="inputPassword1">{{ 'form.password'|trans }} <span>*</span></label>
        <input type="text" class="form-control" name="inputPassword1" id="inputPassword1" disabled>
    </div>
    <div class="form-group">
        <label for="inputPasswordRepeat1">{{ 'form.password_confirmation'|trans }} <span>*</span></label>
        <input type="text" class="form-control" name="inputPasswordRepeat1" id="inputPasswordRepeat1" disabled>
    </div>
    <div class="btn-group buttons-gender" data-toggle="buttons">
        <label>{{ 'traveller.opposite_gender_living.title'|trans }}</label><br>
        <label class="btn btn-9 radio-item active" data-radio-hidden-id="{{ form.travellers.vars.prototype.oppositeGenderLiving.vars.id }}" data-radio-value="1">
            {{ 'form.yes'|trans }}
        </label>
        <label class="btn btn-9 radio-item" data-radio-hidden-id="{{ form.travellers.vars.prototype.oppositeGenderLiving.vars.id }}" data-radio-value="0">
            {{ 'form.no'|trans }}
        </label>
    </div>
</div>
<div class="col-xs-12 col-md-3">
    <h4 class="visible-md visible-lg">&nbsp;</h4>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-0 col-md-12">
            <div class="form-group">
                {{ form_label(form.travellers.vars.prototype.placeNumber) }}
                {{ form_errors(form.travellers.vars.prototype.placeNumber) }}
                {{ form_widget(form.travellers.vars.prototype.placeNumber, { attr: {class: 'form-control', readonly: true, value: app.request.get('places') ? app.request.get('places')[0] : '' } }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.travellers.vars.prototype.children) }}
                {{ form_widget(form.travellers.vars.prototype.children, {attr:{class:'form-control has-children'}}) }}
            </div>
            <div class="form-group">
                <label for="inputNumberChild1" class="control-label"><br class="visible-sm">{{ 'traveller.child_number'|trans }}</label>
                {{ form_widget(form.travellers.vars.prototype.childNumber, {attr:{class:'form-control child-number-option', disabled: true}}) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-12">
            <div class="form-group">
                {{ form_label(form.travellers.vars.prototype.childMinAge) }}
                {{ form_widget(form.travellers.vars.prototype.childMinAge, {attr:{class:'form-control child-age-option', disabled: true}}) }}
            </div>
            <div class="btn-group buttons-gender" data-toggle="buttons">
                {{ form_label(form.travellers.vars.prototype.livingWithParents) }}<br>
                <label class="btn btn-9 radio-item active" data-radio-hidden-id="{{ form.travellers.vars.prototype.livingWithParents.vars.id }}" data-radio-value="1">
                    {{ 'form.yes'|trans }}
                </label>
                <label class="btn btn-9 radio-item" data-radio-hidden-id="{{ form.travellers.vars.prototype.livingWithParents.vars.id }}" data-radio-value="0">
                    {{ 'form.no'|trans }}
                </label>
            </div>
        </div>
    </div>
</div>
