{% trans_default_domain 'AppBundle' %}
<script src="{{ asset('js/skipper-form.js') }}"></script>
<div class="container content traveller-registration">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>{% block profile_title %}{{ 'profile.skipper_title'|trans }}{% endblock profile_title %}</h1>
                </div>
            </div>
            <div class="row btn-block">
                <div class="col-xs-12 col-sm-8">
                    <div class="search-filter">
                        {{ knp_menu_render('skipper_profile_menu', { template: 'AppBundle::searchMenu.html.twig', currentClass: 'active' }) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 text-right">
                    <a href="{{ path('create_new_travel') }}" type="button" class="btn btn-4">Создать новое путешествие</a>
                </div>
            </div>
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_profile_edit'), 'attr': {'role': 'form'}}) }}
            <div class="row profile-top">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center foto fileinput">
                    {% include 'AppBundle:Media:bootstrap_file_input.html.twig' with {
                        browseLabel: 'form.upload_photo'|trans,
                        formImage: form.photo
                    } %}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        {{ form_label(form.lastName) }}
                        {{ form_errors(form.lastName) }}
                        {{ form_widget(form.lastName, { attr: {class: 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, { attr: {class: 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.patronomic) }}
                        {{ form_errors(form.patronomic) }}
                        {{ form_widget(form.patronomic, { attr: {class: 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="inputDate">{{ 'form.birthday'|trans }}</label>
                        <div class="input-group">
                            {{ form_errors(form.birthday) }}
                            {{ form_widget(form.birthday, { attr: {class: 'form-control datepicker', 'aria-describedby': 'addonDateIcon'} }) }}
                            <span class="input-group-addon" id="addonDateIcon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-push-6">
                    <div class="btn-group buttons-gender" data-toggle="buttons">
                        <label>{{ 'form.gender'|trans }}</label><br>
                        {% set man = constant('AppBundle\\Entity\\User::GENDER_M') %}
                        {% set woman = constant('AppBundle\\Entity\\User::GENDER_W') %}
                        <label class="btn radio-item btn-9 {% if form.vars.value.gender == man %}active{% endif %}" data-radio-hidden-id="{{ form.gender.vars.id }}" data-radio-value="{{ man }}">
                            {{ 'form.gender_choices.m'|trans }}
                        </label>
                        <label class="btn radio-item btn-9 {% if form.vars.value.gender == woman %}active{% endif %}" data-radio-hidden-id="{{ form.gender.vars.id }}" data-radio-value="{{ woman }}">
                            {{ 'form.gender_choices.w'|trans }}
                        </label>
                        {{ form_widget(form.gender, { attr: { value: form.vars.value.gender, class: 'gender' } }) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, { attr: {class: 'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        {{ form_label(form.skypeLogin) }}
                        {{ form_errors(form.skypeLogin) }}
                        {{ form_widget(form.skypeLogin, { attr: {class: 'form-control'} }) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        {{ form_label(form.phone) }}
                        {{ form_errors(form.phone) }}
                        {{ form_widget(form.phone, { attr: {class: 'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>{{ 'form.know_languages'|trans }}</label><br>
                        <label class="checkbox-inline">
                            {{ form_errors(form.knowRussian) }}
                            {{ form_widget(form.knowRussian) }} {{ 'form.russian_lang'|trans }}
                        </label>
                        <label class="checkbox-inline">
                            {{ form_errors(form.knowEnglish) }}
                            {{ form_widget(form.knowEnglish) }} {{ 'form.english_lang'|trans }}
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        {{ form_label(form.firstAnotherLang) }}
                        {{ form_errors(form.firstAnotherLang) }}
                        {{ form_widget(form.firstAnotherLang, { attr: {class: 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.secondAnotherLang) }}
                        {{ form_widget(form.secondAnotherLang, { attr: {class: 'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{ 'form.skipper_license'|trans }}</h4>
                    <div class="form-group">
                        <label class="label-margin-right">{{ 'form.cert_type_title'|trans }} <span>*</span></label>
                        {{ form_errors(form.iytCertificate) }}
                        {{ form_errors(form.ryaCertificate) }}
                        <label class="checkbox-inline">
                            {{ form_widget(form.iytCertificate) }} {{ 'form.cert_type.iyt'|trans }}
                        </label>
                        <label class="checkbox-inline">
                            {{ form_widget(form.ryaCertificate) }} {{ 'form.cert_type.rya'|trans }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        {{ form_label(form.certificateNumber) }}
                        {{ form_errors(form.certificateNumber) }}
                        {{ form_widget(form.certificateNumber, { attr: {class: 'form-control'} }) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        {{ form_label(form.certificateIssueDate) }}
                        {{ form_errors(form.certificateIssueDate) }}
                        <div class="input-group">
                            {{ form_widget(form.certificateIssueDate, { attr: {class: 'form-control datepicker', 'aria-describedby': 'addonDateIcon'} }) }}
                            <span class="input-group-addon" id="addonDateIcon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{ 'form.skipper_experience'|trans }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        {{ form_label(form.experienceYears) }}
                        {{ form_errors(form.experienceYears) }}
                        {{ form_widget(form.experienceYears, { attr: {class: 'form-control'} }) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{ form_label(form.experienceMiles) }}
                    {{ form_errors(form.experienceMiles) }}
                    {{ form_widget(form.experienceMiles, { attr: {class: 'form-control'} }) }}
                </div>
            </div>

            <div class="water-prototype" data-prototype='{% include 'UserBundle:Registration:_waterExperience.html.twig' %}'></div>

            <div class="row">
                <div class="col-xs-12 header-small">
                    <label><b>{{ 'form.water_experience.title'|trans }} <span>*</span></b></label>
                </div>
            </div>
            <div class="exp-list experience">
                {% for item in form.waterAreasExperience if item.children['type'].vars.value == 'experience' %}
                    <div class="row" id="experience{{ loop.index }}">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inputSelectCountry" class="control-label">{{ 'form.region_water'|trans }}</label>
                                    {{ form_widget(item.children['country'], { attr: {class: 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inputWaterArea" class="control-label">{{ 'form.region_aquatory'|trans }}</label>
                                    {{ form_widget(item.children['aquatory'], { attr: {class: 'form-control'} }) }}
                                    {{ form_widget(item.children['type'], { attr: {class: 'form-control'} }) }}
                                    <div class="text-right">
                                        <a href="javascript:void()" onclick="jQuery('#experience{{ loop.index }}').remove()">
                                            <small>{{ 'form.water_experience.remove'|trans }}</small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row button-block">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-5" onclick="addWaterExperience('experience')">{{ 'form.water_experience.add_region'|trans }}</a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 header-small">
                    <label><b>{{ 'form.water_experience.wanted_title'|trans }} <span>*</span></b></label>
                </div>
            </div>
            <div class="exp-list wanted">
                {% for item in form.waterAreasExperience if item.children['type'].vars.value == 'wanted' %}
                    <div class="row" id="wanted{{ loop.index }}">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inputSelectCountry" class="control-label">{{ 'form.region_water'|trans }}</label>
                                    {{ form_widget(item.children['country'], { attr: {class: 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inputWaterArea" class="control-label">{{ 'form.region_aquatory'|trans }}</label>
                                    {{ form_widget(item.children['aquatory'], { attr: {class: 'form-control'} }) }}
                                    {{ form_widget(item.children['type'], { attr: {class: 'form-control'} }) }}
                                    <div class="text-right">
                                        <a href="javascript:void()" onclick="jQuery('#wanted{{ loop.index }}').remove()">
                                            <small>{{ 'form.water_experience.remove'|trans }}</small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row button-block">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-5" onclick="addWaterExperience('wanted')">{{ 'form.water_experience.add_region'|trans }}</a>
                </div>
            </div>

            <div class="row profile-bottom">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        {{ form_label(form.username) }}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username, { attr: {class: 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.current_password) }}
                        {{ form_errors(form.current_password) }}
                        {{ form_widget(form.current_password, { attr: {class: 'form-control'} }) }}
                        <div class="text-right">
                            <a href="{{ path('fos_user_change_password') }}">{{ 'form.change_password'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group checkbox-margin-top">
                        <label class="checkbox-inline">
                            {{ form_errors(form.jobOffersAgree) }}
                            {{ form_widget(form.jobOffersAgree) }}
                            {{ 'form.jobOffersAgree'|trans }}
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            {{ form_errors(form.emailSubscribtion) }}
                            {{ form_widget(form.emailSubscribtion) }}
                            {{ 'form.emailSubscribtion'|trans|raw }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row bottom-form">
                <div class="col-xs-12 text-center">
                    <p>{{ 'form.required_fileds'|trans|raw }}</p>
                </div>
            </div>
            <div class="row button-block">
                <div class="col-xs-12 text-center">
                    <button type="submit" class="btn btn-4">{{ 'form.edit_submit'|trans }}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 banner-xs">
            {% include 'AppBundle:blocks:banners.html.twig' %}
        </div>
    </div>
</div>
